name: Terraform Deploy KV

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # 1️⃣ Checkout del repositorio
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2️⃣ Login en Azure usando OIDC
      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # 3️⃣ Instalar Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # 4️⃣ Terraform Init
      - name: Terraform Init
        working-directory: infra
        run: terraform init

      # 5️⃣ Terraform Plan
      - name: Terraform Plan
        working-directory: infra
        run: terraform plan
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_resource_group_name: "Dojo_RG"
          TF_VAR_location: "eastus2"
          TF_VAR_key_vault_name: "kv-dojo-gonzalo"
          TF_VAR_github_principal_id: "88d81110-21fa-49e6-bb81-7c7bca2a4586"
          TF_VAR_secret_bd_datos: "bd_demo"
          TF_VAR_secret_userbd: "dojo"
          TF_VAR_secret_passwordbd: "123456789Da"

      # 6️⃣ Terraform Apply
      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -auto-approve
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_resource_group_name: "Dojo_RG"
          TF_VAR_location: "eastus2"
          TF_VAR_key_vault_name: "kv-dojo-gonzalo"
          TF_VAR_github_principal_id: "88d81110-21fa-49e6-bb81-7c7bca2a4586"
          TF_VAR_secret_bd_datos: "bd_demo"
          TF_VAR_secret_userbd: "dojo"
          TF_VAR_secret_passwordbd: "123456789Da"
