name: Setup KeyVault Roles (Only Roles)

on:
  workflow_dispatch:

jobs:
  setup-roles:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Apply KeyVault Role
        run: terraform apply -auto-approve -target=azurerm_role_assignment.kv_secrets_officer_backend
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_resource_group_name: ${{ secrets.TF_VAR_RESOURCE_GROUP_NAME }}
          TF_VAR_location: ${{ secrets.TF_VAR_LOCATION }}
          TF_VAR_key_vault_name: ${{ secrets.TF_VAR_KEY_VAULT_NAME }}


